@font-face {
    font-family: "Norse";
    src: url("fonts/Norse.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Norse";
    src: url("fonts/Norsebold.otf") format("opentype");
    font-weight: bold;
}

body {
    margin: 0;
    font-family: "Norse", sans-serif
}

.panel-container {
    display: flex;
    height: 100vh;
}

.banner-container {
    display: flex;
    position: relative;
    flex: 1;
    align-items: center;
}

.form-container {
    flex: 2;
    background: white;
}

.odin-txt {
    color: white;
    font-size: 150px;
}

.background-img {
    position: absolute;
    left: 0%;
    top: 0%;
    bottom: 0%;
    right: 0%;
}

.background-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo-band {
    background-color: rgba(14, 15, 14, 0.7);
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.odin-img img {
    height: 150px;
    
}
